@font-face {
    font-family: 'neurimboGothicRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/neurimboGothicRegular.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    overflow-y: hidden;
    background-image: linear-gradient(to bottom, LightSlateGray, silver);
}
div {
    display: block;
}

.Main {
    text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
    .Main-spin {
        animation: Main-spin infinite 10s linear;
    }
}

.Main-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: black;
    font-family: 'neurimboGothicRegular';
}

.Main-spin {
    height: 40vmin;
    pointer-events: none;
    color: black;
    margin-bottom: 100px;
    font-family: 'neurimboGothicRegular';
    font-weight: bold;
    font-size: calc(12px + 2vmin);
}

@keyframes Main-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.outer {
    height: 100vh;
    overflow-y: auto;
}

.outer::-webkit-scrollbar {
    display: none;
}

.inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.bg-yellow {
    background-color: #f7f6cf;
}

.bg-blue {
    background-color: #b6d8f2;
}

.bg-pink {
    background-color: #f4cfdf;
}

.divider {
    width: 100%;
    height: 5px;
    background-color: gray;
}

.q2 {
    width: 100px;
    height: 100px;
    background-color: white;
}

.skills {
    display: flex;
    height: 100vh;
}
.skills-btn-container {
    margin: 110px auto;
    height: 50px;
}
button {
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
button:hover {
    background-image: linear-gradient(to bottom, LightSlateGray, silver);
}

.scroll-downs {
    position: relative;
    bottom: 150px;
    margin: 0 auto;
    width: 34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 3px solid white;
    border-radius: 25px;
    opacity: 0.85;
    box-sizing: content-box;
}
.scroller {
    width: 4px;
    height: 13px;
    border-radius: 25%;
    background-color: white;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% {
        opacity: 0;
    }
    10% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
.scroll_down {
    color: white;
    font-size: 1rem;
    font-family: 'Roboto', 'Arial', sans-serif;
}
